[submodule "UnityTesting"]
	path = UnityTesting
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "eventos_copy"]
	path = eventos_copy
	url = git@github.com:MyFlyChicken/eventos-copy.git
[submodule "codebrick/pubsub"]
	path = codebrick/pubsub
	url = git@github.com:jaracil/pubsub-c.git
